/*style.css*/

html {
  font-family: "montserrat", sans-serif;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

body {
  margin-left: 4%;
  margin-right: 4%;
}
/*pardon my poor choice of colors :) */
.header {
  color: hsl(274, 86%, 11%);
  text-align: center;
  padding: 2%;
  font-family: "AlaricSSK";
  font-size: large;
  font-weight: 200;
}

.header h1,
.header h2 {
  display: inline-block;
  margin: 0 2rem;
}

.header ~ .header {
  margin-top: 5%;
}

/* Navigation to sections color and effect */
.navigation-to-sections {
  background-color: hsl(86, 44%, 87%);
  color: hsla(220, 27%, 9%, 0.737);
}

.navigation-to-sections a:link {
  color: #291f1f;
  text-decoration: none;
}

.navigation-to-sections a:visited {
  color: hsl(20, 72%, 43%);
}

.navigation-to-sections a:hover {
  color: #3e2f6b;
}

.navigation-to-sections a:active {
  color: #640049;
}

/* and the sudden german part, I wanted to have something as an article, that can actually stand independently */

.article-box p {
  margin: 0;
}

.article-box {
  max-height: 20rem;
  width: 21cm;
  margin: 2rem 0 2rem 1rem;
  padding: 1rem;
  border: 1px solid currentColor;
  box-sizing: border-box;
  background-color: white;
  color: crimson;
  font-size: small;
}

.sections {
  background-color: #d7e8cf;
  color: rgb(25, 25, 53);
  border: 0.1rem solid currentColor;
  box-sizing: border-box;
  padding: 2%;
}

.sections > *:not(h2) {
  margin-left: 4rem;
}

.sections h2 {
  margin-left: 0;
}

/* Adding spacing and border to sections */
section + section {
  margin-top: 4%;
}

/* adding space to navigation li-s */
ul > * {
  margin-top: 0.5%;
}

/*pseudo elements selection and , before and after */
::selection {
  background-color: white;
  color: black;
}

#profile p:first-of-type::before {
  content: "😊 ";
}

#profile p:last-of-type::after {
  content: " 💃";
}

/* insert GIF, make it invisible but for accessability tools */

.visually-hidden {
  position: absolute;
  width: 1rem;
  height: 1rem;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* links in sections */

.sections a:link {
  color: #042708;
}

.sections a:visited {
  color: #06410d;
}

.sections a:hover {
  color: #1fbd44;
}

.badge {
  position: absolute;
  right: 4rem;
  top: 4rem;
  padding: 4rem;
  border-radius: 2rem;
  background: rgb(237, 138, 24);
  color: black;
  transform: rotate(20deg);
  font-family: cursive;
  font-size: large;
}
