/*style.css*/
* {
  box-sizing: border-box;
}

body {
  margin-left: 4%;
  margin-right: 4%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/*pardon my poor choice of colors :) */
.header {
  background-color: #bfeeaa;
  color: #042708;
  text-align: center;
  padding: 2%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.header ~ .header {
  margin-top: 5%;
}

/* Navigation to sections color and effect */
.navigation-to-sections {
  background-color: hsl(86, 44%, 87%);
  color: hsla(220, 27%, 9%, 0.737);
}

.navigation-to-sections a:link {
  color: #291f1f;
  text-decoration: none;
}

.navigation-to-sections a:visited {
  color: #1fbd44;
}

.navigation-to-sections a:hover {
  color: darkolivegreen;
}

.navigation-to-sections a:active {
  color: darkgreen;
}

/* and the sudden german part, I wanted to have something as an article, that can actually stand independently */

.article-box p {
  margin: 0;
}

.article-box {
  max-height: 20em;
  width: 21cm;
  margin: 2em 0 2em 1em;
  padding: 1em;
  border: 1px solid currentColor;
  box-sizing: border-box;
  background-color: #e2dddd;
  color: crimson;
  font-size: small;
}

.sections {
  background-color: #d7e8cf;
  color: rgb(25, 25, 53);
  border: 1px solid currentColor;
  box-sizing: border-box;
}

/* Adding spacing and border to sections */
section + section {
  margin-top: 4%;
}
